In [1]:
from astropy.io import fits
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler

In [2]:
hdulist = fits.open('data/allStarLite-dr17-synspec_rev1.fits')

In [3]:

hdu1_data = hdulist[1].data

In [4]:
df4 = pd.DataFrame(hdu1_data.tolist(), columns=hdu1_data.names)

In [5]:
df = df4

In [6]:
df = df.drop_duplicates(subset='APOGEE_ID')

In [8]:
df_classes = pd.read_csv('data/classes.csv')

In [9]:
df_merged = pd.merge(df_classes, df, left_on='apogee_id', right_on='APOGEE_ID', how='inner')

In [10]:
variable_selection = ['apogee_id', "J", "H", "K","LOGG", "M_H", "VMICRO", "VMACRO", "VSINI", 'C_FE', 'CI_FE', 'N_FE', 'O_FE', 'NA_FE', 'MG_FE', 'AL_FE', 'SI_FE', 'S_FE', 'K_FE', 'CA_FE', 
    'TI_FE', 'TIII_FE', 'V_FE', 'CR_FE', 'MN_FE', 'CO_FE', 'NI_FE', 'CE_FE', 'FE_H', 
    'class_spectral', 'class_lum_logg', 'class_lum_jhk', 'class_lum_bins_logg', 'class_lum_bins_jhk']

In [11]:
sample = df_merged[variable_selection]

In [12]:
sample = sample.drop(columns=["VSINI", "TIII_FE", "CO_FE", "CE_FE"])

In [13]:
#créer un dataset qui contient les lignes sans valeurs manquantes
sample_0_miss = sample.dropna()

In [17]:
sample_0_miss.head()

,apogee_id,J,H,K,LOGG,M_H,VMICRO,VMACRO,C_FE,CI_FE,...,V_FE,CR_FE,MN_FE,NI_FE,FE_H,class_spectral,class_lum_logg,class_lum_jhk,class_lum_bins_logg,class_lum_bins_jhk
0,2M00000019-1924498,11.074,10.740,10.670,4.304115,-0.26875,0.409694,0.000000,0.061738,0.070630,...,0.050501,-0.130982,-0.078027,0.013930,-0.27553,G,V,Ia,7,3
1,2M00000032+5737103,10.905,10.635,10.483,3.673970,-0.24510,2.143433,0.000000,0.112730,0.124440,...,-0.005469,-1.112472,0.063633,-0.108750,-0.25297,F,V,II,6,3
2,2M00000032+5737103,10.905,10.635,10.483,3.673970,-0.24510,2.143433,0.000000,0.112730,0.124440,...,-0.005469,-1.112472,0.063633,-0.108750,-0.25297,F,V,II,6,3
3,2M00000068+5710233,10.664,10.132,10.018,3.456132,-0.16008,0.671970,3.246955,-0.025731,-0.048319,...,0.202498,0.028904,-0.029748,0.059073,-0.16028,K,IV,II,5,3
5,2M00000133+5721163,13.261,12.605,12.383,2.388251,-0.51314,1.644599,3.991985,-0.069177,-0.124750,...,-0.097508,-0.206866,-0.107198,0.022393,-0.50953,K,III,Ib,3,6

In [19]:
sample_0_miss[["M_H","VMICRO","VMACRO"]]

             M_H    VMICRO    VMACRO
0      -0.268750  0.409694  0.000000
1      -0.245100  2.143433  0.000000
2      -0.245100  2.143433  0.000000
3      -0.160080  0.671970  3.246955
5      -0.513140  1.644599  3.991985
...          ...       ...       ...
594006 -0.336430  1.588876  3.599870
594007  0.019167  0.737259  0.000000
594008 -0.229250  1.557435  3.381057
594009  0.119920  1.212665  2.756312
594010 -0.672220  1.472448  0.000000

[453952 rows x 3 columns]

In [25]:
# Créer un objet MinMaxScaler
scaler = MinMaxScaler()

# Appliquer la normalisation Min-Max à toutes les colonnes du DataFrame
df_normalized = scaler.fit_transform(sample_0_miss[["M_H","VMICRO","VMACRO"]])

# Convertir le résultat en DataFrame pour conserver les noms de colonnes
df_normalized = pd.DataFrame(df_normalized, columns=sample_0_miss[["M_H","VMICRO","VMACRO"]].columns)

In [27]:
sample_0_miss[["M_H","VMICRO","VMACRO"]]=df_normalized

C:\Users\22403749t\AppData\Local\Temp\ipykernel_5712\44856254.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_0_miss[["M_H","VMICRO","VMACRO"]]=df_normalized

In [28]:
sample_0_miss.head()

,apogee_id,J,H,K,LOGG,M_H,VMICRO,VMACRO,C_FE,CI_FE,...,V_FE,CR_FE,MN_FE,NI_FE,FE_H,class_spectral,class_lum_logg,class_lum_jhk,class_lum_bins_logg,class_lum_bins_jhk
0,2M00000019-1924498,11.074,10.740,10.670,4.304115,0.683197,0.024377,0.000000,0.061738,0.070630,...,0.050501,-0.130982,-0.078027,0.013930,-0.27553,G,V,Ia,7,3
1,2M00000032+5737103,10.905,10.635,10.483,3.673970,0.691361,0.409653,0.000000,0.112730,0.124440,...,-0.005469,-1.112472,0.063633,-0.108750,-0.25297,F,V,II,6,3
2,2M00000032+5737103,10.905,10.635,10.483,3.673970,0.691361,0.409653,0.000000,0.112730,0.124440,...,-0.005469,-1.112472,0.063633,-0.108750,-0.25297,F,V,II,6,3
3,2M00000068+5710233,10.664,10.132,10.018,3.456132,0.720711,0.082660,0.294788,-0.025731,-0.048319,...,0.202498,0.028904,-0.029748,0.059073,-0.16028,K,IV,II,5,3
5,2M00000133+5721163,13.261,12.605,12.383,2.388251,0.752234,0.262783,0.279452,-0.069177,-0.124750,...,-0.097508,-0.206866,-0.107198,0.022393,-0.50953,K,III,Ib,3,6

In [30]:
#export sample_0_miss en csv
sample_0_miss.to_csv('data/resample_normalized.csv', index=False)